.backgroundcolor
{
   background-color: #333333;
     /*background-color: white;*/

}

.font
{
font-family: 'Source Sans Pro', sans-serif;
}

.colorwhite
{
 color: #FFFFFF;
}

.login
{
height:750px;

}


.logintextcenter
{

  text-align:center;
  margin-top: 50px;
}

.loginpl
{
    color: #FFFFFF;
    font-size:9.0vw;
    display:inline;
}

.loginpredict
{
  color: #D9411E;
  font-size:9.0vw;
  display:inline;

}

.loginlink
{
 border: 2px solid #75A3D1;
 border-radius:50px/15px;
 color:#75A3D1;
 height:300px; 
 font-size:2.5vw;
 padding:10px;
}

.loginlink:hover
{
  text-decoration:none;
  color:#FFFFFF;
}

.loginaboutcss
{

    height: 650px;
}

.registrationlink
{
 color:#FFFFFF;

}
.registrationlink:hover,
.registrationlink:active
{
  color:#FFFFFF;
  text-decoration:none;
}


.userinfo
{

margin-top:100px;
border:3px solid #D9411E;
border-radius: 25px;
padding:10px;
color:#D9411E;
text-align:center;

}

.userpara
{
 text-align:center;
}

.userlink
{

color:#D9411E;
}

.userlink:hover, 
.userlink:active
{
    text-decoration:none;
    color:#FFFFFF;
}

.user_info
{
}

#registrationmargin
{

  margin-left:25%;
  width:50%;
 height: 140px;
}

@media only screen and (max-width: 770px)
{

 #registrationmargin
 {
   
    margin-left:5%;
    width:90%;
    height:140px;
 }

}

.registrationsubmitbutton
{

float:right;
font-size: 17px;
border-radius: 5px;
background:#D9411E; 
border: 5px solid #D9411E;
color:#FFFFFF;
margin-top:4px;
}

.registrationborder
{
  border-radius: 15px;
  padding:10px;
  border: 5px solid #FFFFFF;
  background-color: #FFFFFF;
}


.predictinfo
{
    margin-top:100px;
    float:right;
}

.predictbox
{
  margin: 3%;
  color:#333333;
  text-align:center;
}

.predictscore
{
 padding:10px;
 float: right;
 background-color:#D9411E;
}

.predictdata
{
  display: inline;
}

.predictresult
{
  margin-left:20px;
  display: inline;
  color:#FFFFFF;
  background-color: #D9411E;
  padding:5px;
  border-radius:5px;
}
.predictname
{
  margin-top:14px;
}

.predicttextarea
{
  display:inline;
  width:40px;
  text-align:center;
}

.predicttextshow
{
  display:inline;
  margin-left:20px;
  color:#FFFFFF;
  padding:5px;
  background-color: #75A3D1;
  border-radius:5px;
}

.predictsubmit
{
 color:white;
 background-color: #75A3D1;
 border: 2px solid #75A3D1;
 border-radius:5px;
 padding:5px;
 float:right;
 margin-bottom:15px;
}

.showtabs
{
 color: #333333;
}

.showtabs:hover
{
 color: #333333;
}

.gamepointinfo
{

margin-top:10px;
padding:10px;
text-align:center;

}

.gameweeklink
{
 
 text-decoration: none;
 color: #333333;

}

.gameweeklink:hover
{
  color: #333333;
}

.gameweekdropdown
{
 background-color:#75A3D1;
 color:#FFFFFF;
}

.gameweekdropdown:hover
{
  color:#FFFFFF; 
}

.dropdownprevious
{
 color:#D9411E;
 float:left;
}

.dropdownnext
{
  color:#D9411E;
  float:right;
}

.dropdownprevious:hover
{
  color:#D9411E;
}

.dropdownnext:hover
{
  color:#D9411E;
}

.gameweekbox
{
    margin-top:100px;
    float:right;
     min-height: 450px;
}
.gameweekshow
{
color:#333333;
float:left;
margin-top:50px;
margin-left:3%;
}

.gameweekuppername
{
 margin-top:40px;
}

.gameweekactualscore
{
 display:inline;
 background-color: #D9411E;
 color:#FFFFFF;
 padding:5px;
 margin:5px;
 border-radius:5px;
}

.gameweekpredictscore
{
  display:inline;
  background-color:#75A3D1;
  color: #FFFFFF;
  padding: 5px;
  margin:5px;
  border-radius:5px;
}

.gameweeklowername
{
 margin-top:10px;
}

.badgescount
{
  padding:12px;
  background-color:#75A3D1;
}

.badgegameweek
{
  padding:10px;
  color:white;
  background-color:#D9411E;
}

.badgeline
{
  float:left;
  color: #D9411E;
}

.badgename
{
display:inline;
color: #D9411E;
}

.badgename:hover
{
 color:#D9411E;
}

.gameweekpredictbox
{
  margin: 3%;
  color:#FFFFFF;
  text-align:center;
  background-color:#333333;
  padding: 10px;
}
