*{
        box-sizing: border-box;
        font-family: 'Source Sans Pro', sans-serif;
}

body {
        width: 100%;
        background-color: #fff;
}

#container {
}

.navbar-custom {
        background-color: #68809b;
        border: 0px;
        border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
        color:#fff;
}

.navbar-custom .navbar-brand {
        color:#eeeeee;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
        color: #ed586c;
}

#page-wrapper {
        margin-top: -20px;
}

#vertical-nav {
        border-left: solid 3px #ed586c;
        border-right: solid 1px #887799;
        font-size: 1.3em;
}

.nav-pills li.active {
        text-decoration: underline;
}

#vertical-nav a {
        background-color:#fff; 
        color: #101020;
        border-radius: 0;
}

#vertical-nav a:hover {
        background-color: #ed586c;
}

#page-content {

}

.resource-unit {
        padding: 20px;
        text-align: center;
}

.resource-img-container {
    padding: 10px;
}

.resource-img {
        height: 100px;
}

.resource-inner-label {
       padding: 10px; 
       margin-bottom: 10px;
}

.resource-inner-label a {
        color: #fff;
}

.resource-inner-label div {
        display: inline-block;
}

.resource-table {
        border-collapse: collapse;
        width: 100%;
}

.resource-table td, .resource-table th {
        font-size: 1em;
        border: 1px solid #68809b;
        padding: 3px 7px 2px 7px;
}

.resource-table th {
        font-size: 1.1em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #68809b;
        color: #ffffff;
}

.resource-table tr.alt td {
        color: #000000;
        background-color: #bacdef;
}
