.pic-unit {
        padding: 20px;
        text-align: center;
}
.pic-inner-label {
        padding: 8px;
}

.pic-inner-label a {
        color: #fff;
}

.pic-inner-label div {
        display: inline-block;
}



